body {
  background: #045b9a;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding-top: 20px;
}

.container {
  background: #0f141b;
  width: 95%;
  max-width: 420px;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mini-btn {
  background: #1f2730;
  border: none;
  color: #6cb4ff;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 16px;
}

.table {
  background: #1a1f27;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 14px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header input {
  background: transparent;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  width: 70%;
}

.table-header button {
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 18px;
  margin-left: 4px;
}

.card {
  background: #1f2730;
  padding: 12px;
  border-radius: 12px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.card small {
  color: #bbb;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
}

#addCard {
  background: transparent;
  color: #6cb4ff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 6px;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #0f141b;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #1f2730;
  color: white;
}

#saveCard {
  background: #6cb4ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}


